* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #5760e6;
  overflow: hidden;
}
form {
  width: 40%;
  height: 550px;
  margin: 5rem auto;
  padding: 40px;
  margin-top: 80px;
  border-radius: 10px;
  border-color: 1px solid white;
  background-color: white;
 
}
form h1{
    text-align: center;
    font-weight: bold;
    color: #5760e6;
    margin-bottom: 10px;
}
form .log-in{
    margin-top: 10px;
    color:#5760e6;
    font-size: 20px;
}
form .name {
  width: 100%;
  height: 10%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  margin-top: 20px;
}
form .password {
  width: 100%;
  height: 10%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  margin: 20px 0;
}
.icon a{
 margin-left: 5px;
 text-decoration: none;
 color: #5760e6;
}
.button-login button{
  margin-top: 70px;
  padding: 15px 60px;
  background-color: #5760e6;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 155px;
}
.button-login p{
    margin-left: 235px;
    margin-top: 30px;
    font-size: 20px;
}
.button-login a{
    display: inline-block;
    margin-top:20px;
    margin-left: 130px;
    text-decoration: none;
    font-size: 20px;
}
.button-signup span{
    color: #5760e6;
}
form p{
    margin-top: 50px;
    color:#5760e6;
    font-size: 20px;
}
form .register{
    width: 100%;
    height: 10%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    margin-top: 20px;
}
form .sign-up{
    margin-top: 70px;
    padding: 15px 60px;
    background-color: #5760e6;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 155px;
    border-color: #5760e6;
    border-radius: 5px;
}
form .return{
    display: inline-block;
    margin-left: 130px;
    margin-top: 10px;
}